<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/layout/styles/layoutlog.css" />
<link rel="stylesheet" href="/layout/styles/indexLayout.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>


<body>

<!-- topbar -->
<div>
    <div>
          <div class="justify-content-between fixed-top d-flex">
          <div style="width: 10000px; height: 60px; background-color: #212529; filter: drop-shadow(0px 17px 11px grey);"><h2 style="margin-left: 120px; margin-top: 10px; color: white"><b>UCP Centro di Formazione UdSdR</b></h2></div>
          <div style="position: absolute;"><a th:href="@{/index}" style="text-decoration: none; color:white; margin-top: 20px;" ><img src="/images/logo.png" width="100px" height="100px" style="margin-top: 2px; margin-left: 5px;filter: drop-shadow(6px 3px 5px black);"></a></div>
          </div>
    </div>
</div>
<!-- fine topbar -->


<div class="d-md-flex half">
	<div class="contents">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<div class="form-block mx-auto">
						<div class="text-center mb-5">
						<div style="text-align: left"><a href="/index"><img src="/images/home.png" alt="home" style="width: 20px; height: 20px; text-align: left"></a></div>
							<h3>CREA CERTIFICAZIONE</h3>
						</div>
						<form th:action="@{/admin/addcertification}" method="POST">
							<div class="form-group first">
								<label for="name">NOME CERTIFICAZIONE</label>
								<input type="text" class="form-control" placeholder="nome certificazione" id="name" required th:field="${certificazione.nome}">
								<h6 th:if="${#fields.hasErrors('certificazione.nome')}" th:errors="${certificazione.nome}" th:style="'color:red'"></h6>
							</div>						
							<div class="form-group first">
								<label for="date">DATA ESAME</label>
								<input type="date" class="form-control" placeholder="data esame certificazione" id="date" required th:field="${certificazione.data}">
								<h6 th:if="${#fields.hasErrors('certificazione.data')}" th:errors="${certificazione.data}" th:style="'color:red'"></h6>
							</div>	
							<div class="form-group first">
								<label for="location">LUOGO</label>
								<input type="text" class="form-control" placeholder="luogo esame" id="date" required th:field="${certificazione.luogo}">
								<h6 th:if="${#fields.hasErrors('certificazione.luogo')}" th:errors="${certificazione.luogo}" th:style="'color:red'"></h6>
							</div>					
							<div class="form-group first">
								<label for="location">DESCRIZIONE</label>
								<input type="text" class="form-control" placeholder="descrizione certificazione" id="location" required th:field="${certificazione.descrizione}">
								<h6 th:if="${#fields.hasErrors('certificazione.descrizione')}" th:errors="${certificazione.descrizione}" th:style="'color:red'"></h6>
							</div>
							<span class="text-center my-5 d-block"></span>
							<input type="submit" value="Aggiungi nuova certificazione" class="btn btn-block py-2 btn-primary">
							<span class="text-center my-1 d-block" style="font-size: 80%">oppure</span>
							<span class="text-center my-1 d-block">
									<a th:href="@{/admin/managecertifications}">Torna alla gestione certificazioni</a>
							</span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>