<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../layout/styles/layoutlog.css" />
<link rel="stylesheet" href="../layout/styles/indexLayout.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>


<body>

<!-- topbar -->
<div>
    <div>
          <div class="justify-content-between fixed-top d-flex">
          <div style="width: 10000px; height: 60px; background-color: #212529; filter: drop-shadow(0px 17px 11px grey);"><h2 style="margin-left: 120px; margin-top: 10px; color: white"><b>UCP Centro di Formazione UdSdR</b></h2></div>
          <div style="position: absolute;"><a th:href="@{/index}" style="text-decoration: none; color:white; margin-top: 20px;" ><img src="/images/logo.png" width="100px" height="100px" style="margin-top: 2px; margin-left: 5px;filter: drop-shadow(6px 3px 5px black);"></a></div>
          </div>
    </div>
</div>
<!-- fine topbar -->

<div class="d-md-flex half">
	<div class="contents">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<div class="form-block mx-auto" style="max-width: 1500px">
						<div class="text-center mb-3">
						<div style="text-align: left"><a href="/index"><img src="/images/home.png" alt="home" style="width: 20px; height: 20px; text-align: left"></a></div>
							<h3>GESTISCI ALLIEVI</h3>
						</div>
						<table class="table table-bordered">
							<thead class="thead-dark">
							<tr>
								<th>Database ID</th>
								<th>Username</th>
								<th>Nome</th>
								<th>Cognome</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<th:block th:each="allievo : ${allievi}">
								<tr>
									<td>[[${allievo.id}]]</td>
									<td>[[${allievo.username}]]</td>
									<td>[[${allievo.nome}]]</td>
									<td>[[${allievo.cognome}]]</td>
									<td style="text-align: center"><a th:if="${allievo.role}=='DEFAULT'" class="mr-5" th:href="@{'/admin/managestudents/certifications/' + ${allievo.id}}">Dettagli Certificazioni</a><a th:href="@{'/admin/managestudents/edit/' + ${allievo.id}}">Modifica</a>
									<br><span th:if="${allievo.role}=='NOTAPPROVED'"><a th:href="@{'/admin/managestudents/approve/' + ${allievo.id}}">Approva Registrazione</a></span></td>
								</tr>
						</table>
						<span class="text-center my-5 d-block"></span>
						<a th:href="@{/admin/new}" style="text-decoration:none"><span class="btn btn-block py-2 btn-primary">Aggiungi un amministratore</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>