<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/layout/styles/layoutlog.css" />
<link rel="stylesheet" href="/layout/styles/indexLayout.css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>


<body>

<!-- topbar -->
<div>
    <div>
          <div class="justify-content-between fixed-top d-flex">
          <div style="width: 10000px; height: 60px; background-color: #212529; filter: drop-shadow(0px 17px 11px grey);"><h2 style="margin-left: 120px; margin-top: 10px; color: white"><b>UCP Centro di Formazione UdSdR</b></h2></div>
          <div style="position: absolute;"><a th:href="@{/index}" style="text-decoration: none; color:white; margin-top: 20px;" ><img src="/images/logo.png" width="100px" height="100px" style="margin-top: 2px; margin-left: 5px;filter: drop-shadow(6px 3px 5px black);"></a></div>
          </div>
    </div>
</div>
<!-- fine topbar -->


<div class="d-md-flex half">
	<div class="contents">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-12">
					<div class="form-block mx-auto">
						<div class="text-center mb-5">
							<h3>REGISTRAZIONE EFFETTUATA</h3>
						<div class="form-group first">
							<div class="d-flex justify-content-between">
								<label for="nome">NOME</label>
								<label for="cognome">COGNOME</label>
							</div>
							<div class="form-group first d-flex justify-content-between">
								<input disabled type="text" style="font-weight: bold;" class="form-control text-center" placeholder="nome" th:field="${allievo.nome}">
								<div>&nbsp&nbsp&nbsp</div>
								<input disabled type="text" style="font-weight: bold;" class="form-control text-center" placeholder="cognome" th:field="${allievo.cognome}">
							</div>
							<div class="d-flex justify-content-between">
								<label for="data di nascita">DATA DI NASCITA</label>
								<label for="username">USERNAME</label>
							</div>
							<div class="form-group first d-flex justify-content-between">
								<input disabled type="text" style="font-weight: bold;" class="form-control text-center" placeholder="data di nascita" th:field="${allievo.dataDiNascita}">
								<div>&nbsp&nbsp&nbsp</div>
								<input disabled type="text" style="font-weight: bold;" class="form-control text-center" placeholder="username" th:field="${credentials.username}">
							</div>
							<hr>
							<h6>ATTENDI APPROVAZIONE DA UN AMMINISTRATORE</h6>
						</div>	
							<span class="text-center my-5 d-block"></span>
							<span class="text-center my-1 d-block" style="font-size: 120%">
									<a th:href="@{/login}">Ritorna alla pagina di Login</a>
							</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>