<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel = "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
	<h1>Un Centro di Formazione Professionale</h1>
</div>
<div class="wrapper row3">
 <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ############################################################################################# -->
    <section class="group">
    <div class="container-fluid text-center">
      <div class="one_half first"></div>
      <div class="one_half">
      <div class="containerLogin">
		<div>
			<h6>Login</h6>
		</div>
		
		<form th:action="@{/login}" method="POST">
			<div>
				<div>
					<h6 class="heading"><span>Username:</span></h6>
					<h6 class="heading"><span><input name="username" type="text" required /></span></h6>
				</div>	
				<p class="nospace"></p>	
				<div>
					<h6 class="heading"><span>Password:</span></h6>
					<h6 class="heading"><span><input name="password" type="password" required /></span></h6>
				</div>
				<div>
				<p class="nospace"></p>	
				<h6 class="heading"><span><button type="submit">Login</button></span></h6>
				</div>
			</div>
		</form>
		</div>
	  <div>
	  </div>
      </div>
      </div>
    </section>
    <!-- ############################################################################################# -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

</body>
</html>